{% extends "base.html" %}
{% load static %}

{% block title %}Under Construction - Celestial Digital Marketing{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/construction.css' %}">
{% endblock %}

{% block content %}
    <div class="construction-container">
        <img src="{% static 'img/company_logo.jpg' %}" alt="Celestial Digital Marketing Logo" class="logo">
        <h1>We're currently under construction.</h1>
        <p>Stay tuned! Our website is launching soon.</p>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/construction.js' %}"></script>
{% endblock %}
