{% extends "base.html" %}

{% block title %}Under Construction - Celestial Digital Marketing{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='construction.css') }}">
{% endblock %}

{% block content %}
    <div class="construction-container">
        <img src="{% static 'img/company_logo.jpg' %}" alt="Celestial Digital Marketing Logo" class="logo">
        <h1>We're currently under construction.</h1>
        <p>Stay tuned! Our website is launching soon.</p>
    </div>
{% endblock %}
